body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  background-color: #ffffff; 
  color: #111;
}

header {
  background-color: #001f3f; 
  color: white;
  padding: 20px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  width: 80%;
  margin: 20px auto;
}

section {
  background-color: #f2f6fc; 
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}
